{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>


    <header class="header header-admin"> 
        <div class="box box-logo"></div>
        <div class="box box-logout">
            <i class="fas fa-sign-out-alt icon-out"></i>
        </div>
    </header>

    <main class="main" id="main">
        <section class="bar bar-tools">
            <div class="header">
                <div class="box box-icon-in-out">
                    <i class="fas fa-ellipsis-v icon-elliip"></i>
                </div>
                <div class="box box-img-user"></div>
                <div class="box box-name-user" toggle-hidden="true">
                    <p> Admin </p>
                </div>
            </div>
            <div class="body">
                <ul>
                    <li>
                        <i class="fas fa-chalkboard-teacher icon icn"></i>
                        <span class="overview-database" toggle-hidden="false"> <a href="{%url 'overview'%}">Tổng quan</a> </span>
                    </li>
                    <li>
                        <i class="fas fa-address-card icon icn"></i>
                        <span class="info-user" toggle-hidden="false"><a href="{%url 'manage_user'%}"> Quản lý người dùng </a></span>
                    </li>
                    <li>
                        <i class="fas fa-feather-alt icon icn"></i>
                        <span class="posts" toggle-hidden="false"><a href="{%url 'posts'%}"> Bài viết </a></span>
                    </li>
                    <li>
                        <i class="fas fa-comment-dots icon icn"></i>
                        <span class="posts" toggle-hidden="false"><a href="{%url 'comments'%}"> Bình luận </a></span>
                    </li>
                    <li>
                        <i class="fas fa-chart-pie icon icn"></i>
                        <span class="chart" toggle-hidden="false"><a href="{%url 'statistical'%}"> Thống kê </a></span>
                    </li>
                </ul>
            </div>
        </section>
        
        {% block content %}
        {% endblock content %}
    </main>
    <script src="{%static 'js/jquery-3.4.1.min.js'%}"></script>
    <script src="{%static 'js/index.js'%}"></script>
</body>
</html>